

body
{
    text-align: justify;
    text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6
{
    text-align: left;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

