body
{
    text-align: justify;
    text-justify: inter-word;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6
{
    text-align: left;
}

h1
{
    margin-top: 20px;
    margin-bottom: 20px;
    /* Rounded border */
    border-bottom: 8px solid #838383;
    border-radius: 5px;
}

h2{
    /* Solid border */
    border-bottom: 3px solid #838383;
}

h3{
    /* Dotted border */
    border-top: 3px dotted #bbb;
}


/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
}
  

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


.pie 
{
    background-color: #8e8e8e;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 30px;
}
  
